%a{ :href => "/robots"} 
  Task Index
%h1= @robot.name 
%p 
  State:
  = @robot.state
%p
  Avatar:
  = @robot.avatar
%p 
  Birthdate:
  = @robot.birthdate
%p
  Date Hired:
  = @robot.date_hired
%p
  Department:
  = @robot.department
